@charset "UTF-8";

@import 'vendor/normalize';

.app {
	margin-top: 50px;
}

.side {
	height: 100vh;
}

.left-upper {
	border-bottom: 1px solid lightgrey;
	height: 150px;
}

.left-lower {
	height: calc(100% - 150px);
	overflow: scroll;
}

.left-select {
	margin: 20px 10px 10px 10px;
	height: 30px;
	width: calc(100% - 20px);
}

.left-search {
	margin: 10px 10px 20px 10px;
	height: 30px;
	width: calc(100% - 20px);
}

.left-filter {	
	margin: 0px 10px 0px 10px;
	height: 30px;
	width: calc(100% - 20px);
}

// Item
.cell_item {
	padding: 10px;
	border-bottom: 1px solid lightgrey;
}
